extends ./layout.pug

block content

  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each article, i in articles
          each comment, j in article.comments
            li(class=`publication__list-item ${i === articles.length - 1 && j === article.comments - 1  ? 'publication__list-item--last' : ''}`)
              .publication__header
                img.publication__list-image(src='/img/avatar-small-2.png' width='20' height='20' alt='Аватар пользователя')
                b.publication__list-name Александр Петров
                time.publication__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
              a.publication__item-text(href='#') #{comment.text}
              p.publication__text-strong #{article.title}
              button.publication__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
