extends ./layout.pug

block content

  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article, i in articles
          li(class=`notes__list-item ${i === articles.length - 1 ? 'notes__list-item--last' : ''}`)
            time.notes__item-time(datetime=`${article.createdDate}`) #{article.createdDate}
            a.notes__item-text(href='#') #{article.title}
            button.notes__button.button.button--close-item(type='button')
              span.visually-hidden Закрыть строку списка
